.testimonial-testimonial {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: column;
  border-right-width: 1px;
}
.testimonial-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.testimonial-icon {
  height: 40px;
  object-fit: cover;
}
.testimonial-text {
  color: rgb(255, 255, 255);
  width: 400px;
  font-size: 24px;
  line-height: 44px;
}
.testimonial-author {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial-details {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testimonial-divider {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}


@media(max-width: 991px) {
  .testimonial-testimonial {
    gap: var(--dl-space-space-unit);
    margin-right: 0px;
    padding-right: 0px;
    border-right-width: 0px;
  }
  .testimonial-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .testimonial-icon {
    height: 24px;
  }
  .testimonial-text {
    width: 100%;
    font-size: 16px;
    line-height: 28px;
  }
  .testimonial-author {
    gap: var(--dl-space-space-unit);
  }
  .testimonial-details {
    gap: var(--dl-space-space-halfunit);
  }
  .testimonial-divider {
    width: 100px;
    height: 1px;
    display: flex;
    background-color: #61616B;
  }
  .testimonial-root-class-name {
    width: 100%;
  }
  .testimonial-root-class-name1 {
    width: 100%;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 20px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-branding {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-image {
  width: 200px;
  object-fit: cover;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-right {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-work-with-us {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(229, 254, 88);
}
.home-work-with-us:hover {
  opacity: 0.5;
}
.home-text {
  display: flex;
  font-size: 24px;
}
.home-image01 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-work-with-us1 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us1:hover {
  opacity: 0.5;
}
.home-text001 {
  display: flex;
  font-size: 24px;
}
.home-image02 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding1 {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-text002 {
  color: #27272D;
  font-size: 30px;
  font-family: Inter;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-middle {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-work-with-us2 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us2:hover {
  opacity: 0.5;
}
.home-text003 {
  display: flex;
  font-size: 24px;
}
.home-hero {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text004 {
  color: rgb(39, 39, 45);
  width: 1098px;
  font-size: 40px;
  max-width: 1000px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}
.home-text005 {
  text-align: justify;
}
.home-hero-image {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
  background-color: #E5FE58;
}
.home-image03 {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.home-information {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 28px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: 38px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-top-width: 1px;
}
.home-purpose {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-description {
  color: rgb(39, 39, 45);
  font-size: 30px;
  max-width: 900px;
  align-self: stretch;
  line-height: 35px;
}
.home-text006 {
  font-size: 25px;
  font-weight: 700;
}
.home-text007 {
  color: #27272d;
  font-size: 30px;
}
.home-text008 {
  font-size: 16px;
}
.home-text009 {
  font-size: 16px;
}
.home-text010 {
  color: #27272d;
  font-size: 30px;
}
.home-text011 {
  font-size: 16px;
}
.home-text012 {
  font-size: 20px;
  font-weight: 700;
}
.home-text013 {
  color: #27272d;
  font-size: 30px;
}
.home-text014 {
  font-size: 16px;
}
.home-text015 {
  font-size: 16px;
}
.home-text016 {
  color: #27272d;
  font-size: 30px;
}
.home-text017 {
  font-size: 16px;
}
.home-text018 {
  font-size: 20px;
  font-weight: 700;
}
.home-text019 {
  color: #27272d;
  font-size: 30px;
}
.home-text020 {
  font-size: 16px;
}
.home-text021 {
  font-size: 16px;
}
.home-text022 {
  color: #27272d;
  font-size: 30px;
}
.home-text023 {
  font-size: 20px;
  font-weight: 700;
}
.home-text024 {
  font-size: 20px;
  font-weight: 700;
}
.home-text025 {
  color: #27272d;
  font-size: 30px;
}
.home-text026 {
  font-size: 16px;
}
.home-text027 {
  font-size: 16px;
}
.home-text028 {
  color: #27272d;
  font-size: 30px;
}
.home-text029 {
  font-size: 16px;
}
.home-text030 {
  font-size: 20px;
  font-weight: 700;
}
.home-text031 {
  color: #27272d;
  font-size: 30px;
}
.home-text032 {
  font-size: 16px;
}
.home-text033 {
  font-size: 16px;
}
.home-text034 {
  color: #27272d;
  font-size: 30px;
}
.home-text035 {
  font-size: 16px;
}
.home-text036 {
  font-size: 16px;
}
.home-text037 {
  color: #27272d;
  font-size: 30px;
}
.home-industries {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-list {
  width: 1058px;
  display: grid;
  grid-gap: 80px;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: auto auto auto;
}
.home-item {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 16px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text039 {
  font-size: 25px;
  font-weight: 700;
}
.home-text040 {
  color: #27272d;
}
.home-text043 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text044 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text045 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text046 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text047 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title1 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 16px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text048 {
  font-size: 25px;
  font-weight: 700;
}
.home-text049 {
  color: #27272d;
  font-size: 25px;
  font-weight: 700;
}
.home-item2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title2 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 16px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text052 {
  font-size: 25px;
  font-weight: 700;
}
.home-text053 {
  color: #27272d;
  font-size: 25px;
  font-weight: 700;
}
.home-text056 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text057 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text058 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text059 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text060 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title3 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 16px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text061 {
  font-size: 25px;
  font-weight: 700;
}
.home-text062 {
  color: #27272d;
  font-size: 25px;
  font-weight: 700;
}
.home-text065 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text066 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text067 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text068 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text069 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item4 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title4 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 16px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text070 {
  font-size: 25px;
  font-weight: 700;
}
.home-text071 {
  color: #27272d;
  font-size: 25px;
  font-weight: 700;
}
.home-text074 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text075 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text076 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text077 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text078 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-container2 {
  display: contents;
}
.home-section {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #27272D;
}
.home-text079 {
  color: #f9f7f7;
  font-size: 100px;
}
.home-case-studies {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: 40px;
  border-bottom-width: 1px;
}
.home-gallery {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-case {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: column;
}
.home-image04 {
  width: 560px;
  height: 416px;
  object-fit: cover;
}
.home-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text080 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-case1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image05 {
  width: 640px;
  height: 545px;
  object-fit: cover;
}
.home-heading1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text081 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-row1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-case2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image06 {
  width: 640px;
  height: 545px;
  object-fit: cover;
}
.home-heading2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text082 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-case3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-image07 {
  width: 560px;
  height: 628px;
  object-fit: cover;
}
.home-heading3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text083 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-row2 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-case4 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-image08 {
  width: 560px;
  height: 628px;
  object-fit: cover;
}
.home-heading4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text084 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-case5 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image09 {
  width: 640px;
  height: 545px;
  object-fit: cover;
}
.home-heading5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text085 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-testimonials {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 44px;
  flex-direction: column;
}
.home-header1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-caption {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Georgia";
  font-weight: 700;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.home-controls {
  gap: var(--dl-space-space-halfunit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-row3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.home-quote1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-quote2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-gradiant {
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  background-image: linear-gradient(90deg, rgba(39, 39, 45, 0) 3.00%,rgba(39, 39, 45, 0.5) 33.00%,rgb(39, 39, 45) 100.00%);
}
.home-section1 {
  width: 100%;
  height: 2747px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 21px;
  background-color: #244444;
}
.home-about-us {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-statistics {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #ffffff;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.home-statistic {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text086 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  line-height: 65px;
}
.home-text087 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-statistic1 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text088 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  line-height: 65px;
}
.home-text089 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-statistic2 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text090 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  line-height: 65px;
}
.home-text091 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-header2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
}
.home-description1 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 65px;
}
.home-text092 {
  color: #f9f8f8;
}
.home-dna {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text093 {
  color: #fbfafa;
}
.home-description2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 30px;
}
.home-text094 {
  font-size: 18px;
  line-height: 30px;
}
.home-text095 {
  font-size: 18px;
  line-height: 30px;
}
.home-text096 {
  font-size: 18px;
  line-height: 30px;
}
.home-text097 {
  font-size: 18px;
  line-height: 30px;
}
.home-text099 {
  color: #fbf6f6;
}
.home-description3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 30px;
}
.home-text100 {
  font-size: 18px;
}
.home-text101 {
  color: #ffffff;
  font-size: 30px;
}
.home-text102 {
  font-size: 18px;
}
.home-text103 {
  font-size: 18px;
}
.home-text104 {
  font-size: 18px;
}
.home-text105 {
  font-size: 18px;
}
.home-text106 {
  font-size: 18px;
}
.home-text107 {
  font-size: 18px;
}
.home-text108 {
  font-size: 18px;
}
.home-text109 {
  font-size: 18px;
}
.home-text110 {
  font-size: 18px;
}
.home-text111 {
  font-size: 18px;
}
.home-text112 {
  font-size: 18px;
}
.home-text113 {
  font-size: 18px;
}
.home-text114 {
  font-size: 18px;
}
.home-text115 {
  font-size: 18px;
}
.home-text116 {
  font-size: 18px;
}
.home-recruit {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 1053px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.home-text117 {
  color: rgb(255, 255, 255);
  width: 1022px;
  font-size: 54px;
  max-width: 1000px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 65px;
}
.home-text118 {
  color: rgb(253, 250, 250);
}
.home-sections {
  gap: var(--dl-space-space-threeunits);
  height: 554px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-section2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text119 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 1000px;
  line-height: 36px;
}
.home-text120 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 1000px;
  line-height: 27px;
}
.home-section3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text121 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 1000px;
  line-height: 36px;
}
.home-text122 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 1000px;
  line-height: 27px;
}
.home-section4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text123 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 1000px;
  line-height: 36px;
}
.home-text124 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 1000px;
  line-height: 27px;
}
.home-section5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text125 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 1000px;
  line-height: 36px;
}
.home-text126 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 1000px;
  line-height: 27px;
}
.home-link3 {
  color: rgb(39, 39, 45);
  font-size: 24px;
  line-height: 30px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: lowercase;
  text-decoration: none;
  background-color: rgb(229, 254, 88);
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    gap: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .home-text {
    line-height: 30px;
  }
  .home-text001 {
    line-height: 30px;
  }
  .home-text003 {
    line-height: 30px;
  }
  .home-hero {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text004 {
    font-size: 32px;
  }
  .home-hero-image {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-information {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
    border-top-width: 0px;
  }
  .home-purpose {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-description {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text006 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text008 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text009 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text011 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text012 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text014 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text015 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text017 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text018 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text020 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text021 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text023 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text024 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text026 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text027 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text029 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text030 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text032 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text033 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text035 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text036 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text038 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-list {
    grid-gap: 16px;
    grid-template-columns: auto;
  }
  .home-item {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text039 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text041 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text042 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text043 {
    font-size: 16px;
  }
  .home-text044 {
    font-size: 16px;
  }
  .home-text045 {
    font-size: 16px;
  }
  .home-text046 {
    font-size: 16px;
  }
  .home-text047 {
    font-size: 16px;
  }
  .home-item1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title1 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text048 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text050 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text051 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-item2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title2 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text052 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text054 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text055 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text056 {
    font-size: 16px;
  }
  .home-text057 {
    font-size: 16px;
  }
  .home-text058 {
    font-size: 16px;
  }
  .home-text059 {
    font-size: 16px;
  }
  .home-text060 {
    font-size: 16px;
  }
  .home-item3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title3 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text061 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text063 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text064 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text065 {
    font-size: 16px;
  }
  .home-text066 {
    font-size: 16px;
  }
  .home-text067 {
    font-size: 16px;
  }
  .home-text068 {
    font-size: 16px;
  }
  .home-text069 {
    font-size: 16px;
  }
  .home-item4 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title4 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text070 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text072 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text073 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text074 {
    font-size: 16px;
  }
  .home-text075 {
    font-size: 16px;
  }
  .home-text076 {
    font-size: 16px;
  }
  .home-text077 {
    font-size: 16px;
  }
  .home-text078 {
    font-size: 16px;
  }
  .home-section {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-case-studies {
    gap: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-gallery {
    gap: var(--dl-space-space-threeunits);
  }
  .home-row {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .home-case {
    gap: var(--dl-space-space-unit);
    width: 100%;
    margin-top: 0px;
  }
  .home-image04 {
    width: 100%;
    height: 210px;
  }
  .home-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text080 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-case1 {
    gap: var(--dl-space-space-unit);
  }
  .home-image05 {
    width: 100%;
    height: 210px;
  }
  .home-heading1 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text081 {
    font-size: 24px;
  }
  .home-row1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .home-case2 {
    gap: var(--dl-space-space-unit);
    width: 100%;
  }
  .home-image06 {
    width: 100%;
    height: 210px;
  }
  .home-heading2 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text082 {
    font-size: 24px;
  }
  .home-case3 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    padding-top: 0px;
  }
  .home-image07 {
    width: 100%;
    height: 210px;
  }
  .home-heading3 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text083 {
    font-size: 24px;
  }
  .home-row2 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .home-case4 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    padding-top: 0px;
  }
  .home-image08 {
    width: 100%;
    height: 210px;
  }
  .home-heading4 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text084 {
    font-size: 24px;
  }
  .home-case5 {
    gap: var(--dl-space-space-unit);
    width: 100%;
  }
  .home-image09 {
    width: 100%;
    height: 210px;
  }
  .home-heading5 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text085 {
    font-size: 24px;
  }
  .home-testimonials {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-fourunits);
  }
  .home-controls {
    display: none;
  }
  .home-row3 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-section1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-about-us {
    gap: var(--dl-space-space-threeunits);
  }
  .home-statistics {
    gap: var(--dl-space-space-threeunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text086 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text087 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text088 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text089 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text090 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text091 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-header2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-description1 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-dna {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .home-description2 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text094 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-description3 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text100 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text102 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text103 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text104 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text105 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text106 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text107 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text108 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text109 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text110 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text111 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text112 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text113 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text114 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text115 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text116 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-recruit {
    gap: var(--dl-space-space-threeunits);
    padding-top: 0px;
  }
  .home-text117 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-sections {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-section2 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text119 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text120 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-section3 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text121 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text122 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-section4 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text123 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text124 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-section5 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text125 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text126 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text127 {
    font-size: 16px;
    line-height: 20px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-work-with-us {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text {
    display: none;
  }
  .home-image01 {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-burger-menu {
    display: flex;
    align-self: flex-start;
  }
  .home-work-with-us1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text001 {
    display: none;
  }
  .home-image02 {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-branding1 {
    max-width: 80%;
  }
  .home-work-with-us2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image03 {
    width: auto;
    height: 220px;
  }
}
@media(max-width: 479px) {
  .home-mobile-menu {
    padding: 16px;
  }
}
